

<button  mat-icon-button mat-dialog-close class="closeButton">
    <mat-icon>close</mat-icon>
</button>


<div *ngIf="items.length == 0 || isLoading" class="alternative-content">
    <p *ngIf="items.length == 0 && !isLoading">Nenhum resultado encontrado.</p>
    <mat-spinner  *ngIf="isLoading"></mat-spinner>
</div>
<mat-dialog-content id="inventory" *ngIf="!isLoading">
  <img class="item"   *ngFor="let img of items"  (click)="selectItem(img)"  [src]="'assets/' + img" alt="">
</mat-dialog-content>
<!-- <p *ngIf="items.length != 0 && !isLoading" class="counterSearch">{{items.length}}/{{allItems.length}}</p> -->